<h3 style="text-align:center; text-decoration: underline;">Student Listing</h3>

{{ this.students[0].firstName }}
<!-- <ul>
  <li *ngFor="let name of this.students;">{{name.firstName}}</li>
</ul> -->

<table class="table table-stripped">
  <thead>
    <tr>
      <th>FullName</th>
      <th>Gender</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.firstName}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.email}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr style="text-align:right">
      <td colspan="3">
        <b>Total students : </b> {{this.students.length}}
      </td>
    </tr>
  </tfoot>
</table>
