<div class="row">
  <div class="col-md-3">
    <a href="" class="btn btn-success">View all the school Teachers</a>
  </div>
</div>
<br />
<div class="card">
  <div class="card-header">
    <h4 style="text-align:center;">Teacher Registration Form</h4>
  </div>
  <div class="card-body">
    <div class="row spacing">
      <div class="col-md-2 highlight">First Name</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter first name" [(ngModel)]="this.teacher.firstName" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Middle Name</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter middle name" [(ngModel)]="this.teacher.middleName" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Last Name</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter last name" [(ngModel)]="this.teacher.lastName" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Gender</div>
      <div class="col-md-2">
        <select class="form-control" [(ngModel)]="this.teacher.gender">
          <option value="" selected="selected">-Select-</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Email</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter email" [(ngModel)]="this.teacher.email" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Home phone</div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="enter home phone" [(ngModel)]="this.teacher.homePhone" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Mobile</div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="enter mobile" [(ngModel)]="this.teacher.mobile" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Current Address</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter current address" [(ngModel)]="this.teacher.currentAddress" />
      </div>
    </div>
    <div class="row spacing">
      <div class="col-md-2 highlight">Residential Address</div>
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="enter residential address" [(ngModel)]="this.teacher.residentialAddress" />
      </div>
    </div>
    <div>
      <div class="offset-2 col-md-2">
        <button class="btn btn-success" (click)="RegisterTeacher()">Register</button>&nbsp;
        <button class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </div>
</div>
