<h3 style="text-align:center; text-decoration: underline;">Teacher Listing</h3>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>FullName</th>
      <th>Gender</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{teacher.firstName}}</td>
      <td>{{teacher.gender}}</td>
      <td>{{teacher.email}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr style="text-align:right">
      <td colspan="3">
        <b>Total teachers : </b> {{this.teachers.length}}
      </td>
    </tr>
  </tfoot>
</table>

